<div id="tf-page-header" class="text-center">
    <div class="container">
        <hr/>
        <h2 class="text-uppercase">Showing Posts</h2>
        <hr/>
    </div>
</div>

<!-- Blog Body
    ====================================-->
<div id="tf-content" class="blog layout-one">
    <div class="container">
        <!-- Container -->
        <div class="row">
            <!-- Row -->
            <div class="col-md-10 col-md-offset-1">
                <!-- Left Content for Blog Posts -->
                <div data-bind="foreach: currentPage().content">
                    <div class="blog-post">
                        <!-- Blog Posts -->
                        <div class="post-detail">
                            <!-- Page Basic Info (title, featured image, metas) -->
                            <a data-bind="attr: {href: '#showPost/'+$data.id+'/'+$data.title}" class="meta-date"><span class="bolder" data-bind="text: $data.day"></span><label data-bind="text: $data.month"></label></a>
                            <h2 data-bind="text: $data.title"></h2> <!-- Post Title-->
                            <div class="img-wrap">
                                <!-- Image Wrap -->
                                <div class="metas">
                                    <a data-bind="attr: {href: '#category/'+$data.category.name}" class="meta-cat"><span data-bind="text: $data.category.name"></span></a>
                                    <a data-bind="attr: {href: '#showPost/'+$data.id+'/'+$data.title}" class="meta-author"><span>Read more</span></a>
                                </div>
                                <!-- ko if: ($data.photo !== null) -->
                                <img data-bind="attr: {src: 'data:image/jpeg;base64,' + $data.photo}" class="img-responsive" alt="image">
                                <!-- /ko -->
                                <!-- ko ifnot: ($data.photo !== null) -->
                                <img src="assets/img/blog/kotijko logo.png" class="img-responsive" alt="image">
                                <!-- /ko -->
                            </div>
                        </div><!-- end Page Basic Info (featured image, metas) -->
                        <div class="post-content" data-bind="html: $data.description">

                        </div><!-- end Blog Post -->
                        <div class="comments">

                        </div> <!-- end Lists of Related Posts -->

                    </div><!-- End of Posts/Blogrol -->
                </div><!-- end Row -->
            </div>
        </div><!-- End Container -->
    </div>
</div>

