<section></section>
<div id="tf-sliders">
    <div class="container">
        <!-- Container -->
        <div id="header-slider" class="carousel slide carousel-fade layout-one" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="assets/img/slider/01.jpg" alt="...">
                    <div class="carousel-caption">
                        <h2>Durandal FRAMEWORK JS</h2>
                        <a href="#durandal" class="btn btn-default tf-btn"><span data-i18n="app:Pages.Welcome.ReadMore"></span></a>
                    </div>
                </div>
                <div class="item">
                    <img src="assets/img/slider/02.jpg" alt="...">
                    <div class="carousel-caption">
                        <h2>SHAREPOINT 2010 - 2013</h2>
                        <a href="#sharepoint" class="btn btn-default tf-btn"><span data-i18n="app:Pages.Welcome.ReadMore"></span></a>
                    </div>
                </div>
                <div class="item">
                    <img src="assets/img/slider/03.jpg" alt="...">
                    <div class="carousel-caption">
                        <h2>MVC4, MVC5, MVC6, Web API, OAuth</h2>
                        <a href="#csharp" class="btn btn-default tf-btn"><span data-i18n="app:Pages.Welcome.ReadMore"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#header-slider" role="button" data-slide="prev">
            <span class="fa fa-angle-left" aria-hidden="true"></span>
            <span class="sr-only" data-i18n="app:Pages.Welcome.Next"></span>
        </a>
        <a class="right carousel-control" href="#header-slider" role="button" data-slide="next">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
            <span class="sr-only" data-i18n="app:Pages.Welcome.Back"></span>
        </a>
    </div><!-- End Container -->
</div>
<div id="tf-content" class="contact">
    <div class="container">
        <!-- Container -->
        <div class="row">
            <!-- Row -->
            <div class="col-md-10 col-md-offset-1">
            </div>
        </div>
    </div>
</div>
