<!-- Page Title
====================================-->
<div id="tf-page-header" class="text-center">
    <div class="container">
        <h5><em>we hear you, email us your concern</em></h5>
        <hr>
        <h2 class="text-uppercase">About me</h2>
    </div>
</div>
<div id="tf-content" class="about">
    <div class="container">
        <!-- Container -->
        <div class="row">
            <!-- Row -->
            <div class="col-md-10 col-md-offset-1">
                <!-- About us content -->
                <div class="post-block">
                    <div class="post-detail">
                        <div class="img-wrap">
                            <!-- Image Wrap -->
                            <img src="/assets/img/about.jpg" class="img-responsive" alt="image">
                        </div>
                        <p>You know you're destined to be a fashion designer if you: a) spent most of your childhood making clothes for your Barbie dolls instead of playing with your friends; b) read fashion magazines instead of your school books; c) ran a boutique out of your basement at age 10. In other words: if you want to be the next Yves Saint Laurent, it helps to be completely and utterly obsessed with fashion.</p>
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Our History</h3>
                                <p>A blog is basically an online journal wherein you can digitally pen down your thoughts, ideas, opinions and practically anything that you want people to read. Blogs come in different styles, formats, and settings, depending on the preference of the user.</p>
                            </div>
                            <div class="col-md-6">
                                <h3>Our Values</h3>
                                <p>Anyone who wants to start a blog can do so by becoming a member of a blogging website of their choice. Once they've become members, they automatically become a part of that particular blogging community.</p>
                            </div>
                        </div>
                        <p>However, there are many aspects of the profession. Working as a fashion designer can just as well mean supervising a design team at a sportswear company as producing a label under your own name. Although the former career may not seem as glamorous as the latter, it certainly will make your life less stressful. To create your own label takes a lot of time, dedication and hard work. Not to mention living just above the poverty line for several years</p>
                        <blockquote>Nowadays in education, blogs also play an important part. Professors use blogging to document the lessons that they have discussed and taught. This way, students who who have missed classes, can easily catch up with their assignments.</blockquote>
                    </div>
                    <ul class="list-inline social">
                        <!-- Social Share -->
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                    <a href="#contact" class="btn btn-default tf-btn txt-link">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>
